#!/usr/bin/make -f

version := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

%:
	dh $@ --with kf5 --dbg-package=kubuntu-debug-installer-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DVERSION_STRING_FULL=$(version)

kubuntu_rake:
	rm -rf .kubuntu-rake
	if [ -e .git ]; then \
		git clone kde:scratch/sitter/kubuntu-rake .kubuntu-rake; \
		cp .kubuntu-rake/Rakefile .; \
	fi
	if [ -e Rakefile ]; then rake; fi

override_dh_auto_clean: kubuntu_rake
	dh_auto_clean

# Can't run tests. requires dbus daemon and polkit and whatnot...
.PHONY: override_dh_auto_test
